{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
    "mongo": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "func-names": 0
  }
}
